[Container]
# See https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Specifiers
Volume=%L/%N:/var/log/%N:z
Volume=%S/%N:/var/lib/%N:z
Volume=%C/%N:/var/cache/%N:z
Volume=%E/%N:/etc/%N:z

[Service]
SuccessExitStatus=0 143
LogsDirectory=%N
StateDirectory=%N
CacheDirectory=%N
ConfigurationDirectory=%N

[Install]
WantedBy=multi-user.target
