[Unit]
Description=Bind mount media/movies from wd-005t-01
RequiresMountsFor=/var/mnt/wd-005t-01

[Mount]
What=/var/mnt/wd-005t-01/media/movies
Where=/var/mnt/data/media/movies
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
