[Unit]
Description=Mount wd-005t-01
After=network.target

[Mount]
What=/dev/disk/by-label/wd-005t-01
Where=/var/mnt/wd-005t-01
Type=xfs
Options=defaults,nofail

[Install]
WantedBy=multi-user.target
