[Unit]
Description=Bind mount torrents/music from wd-005t-02
RequiresMountsFor=/var/mnt/wd-005t-02

[Mount]
What=/var/mnt/wd-005t-02/torrents/music
Where=/var/mnt/data/torrents/music
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
